{% extends '_layouts/default' %}

{% block content %}
    {% if entry.image %}
        <figure>
            {% set assets = entry.image.eagerly().one() %}
            {% if assets %}
                <img src="{{ assets.url('hero') }}" alt="{{ assets.alt }}" />
            {% endif %}
        </figure>
    {% endif %}
    <header class="container mx-auto px-2 pt-12 pb-6 text-2xl">
        <h1 class="text-4xl font-bold sm:text-6xl lg:text-9xl">{{ entry.title }}</h1>
        <p class="mt-4">
            {{ entry.pageSubheading }}
        </p>
        {% if entry.section.handle in craft.app.config.custom.showMeta %}
            <div class="mt-4 text-xs">
                {% set category = entry.category.eagerly().one() %}
                <p>
                    {% if category %}
                        <span class="font-bold">{{ category.title }}</span> |
                    {% endif %}
                    <time datetime="{{ entry.postDate|atom }}">{{ entry.postDate|date }}</time>
                </p>
                <p class="text-xs">
                    By {{ entry.author.fullName }}
                </p>
            </div>
        {% endif %}
    </header>
    <section class="page__content">
        <div class="container mx-auto px-2 py-12 text-balance">
            <div class="prose prose-lg max-w-none">
                {{ entry.pageContent }}
            </div>
        </div>
        {% block landing %}

        {% endblock landing %}
    </section>
{% endblock content %}
