{% extends 'pages/default' %}
{% set postQuery = craft.entries.section('guestbookPosts').limit(3).orderBy('postDate DESC') %}
{% set postSection = craft.app.entries.getSectionByHandle('guestbookPosts') %}
{% paginate postQuery as pageInfo, posts %}

{% block title %}
    {% if pageInfo.getPrevUrl() or pageInfo.getNextUrl() %}
        , Page {{ pageInfo.currentPage }} of {{ pageInfo.totalPages }}
    {% endif %}
{% endblock title %}

{% block landing %}
    <div class="container mx-auto grid-cols-2 gap-6 px-2 sm:grid">
        <section class="mb-12">
            {% if posts|length %}
                <ol class="mb-2 divide-y divide-slate-300">
                    {% for post in posts %}
                        <li>
                            <article class="py-6 text-xl">
                                {{ post.textBlock|md }}
                                <p class="mt-1 text-sm">
                                    <time datetime="{{ post.postDate|atom }}">
                                        {{ post.postDate|datetime }}
                                    </time><br />
                                    By {{ post.author.fullName }}
                                </p>
                            </article>
                        </li>
                    {% endfor %}
                </ol>
                {% include '_partials/pagination' with { pageInfo: pageInfo } %}
            {% else %}
                <p class="text-2xl">
                    No entries yet. Create one using the form.
                </p>
            {% endif %}
        </section>

        <section>
            <div class="mb-9 rounded bg-slate-200 p-6">
                <h2 class="mb-4 text-3xl font-bold">Post an entry</h2>
                {% if currentUser %}
                    {% include '_partials/postForm' with { id: postSection.id } %}
                {% else %}
                    <p>
                        You need to be signed in to post an entry in the guestbook.
                    </p>
                    {% include '_partials/signInForm' %}
                {% endif %}
            </div>
        </section>
    </div>
{% endblock landing %}
