{% set global = craft.entries.section('global').one() %}
{% set flashes = craft.app.session.getAllFlashes(true) %}

<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
    <head>
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="icon" href="/favicon.ico" sizes="any" />
        <link rel="icon" href="/icon.svg" type="image/svg+xml" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <link rel="manifest" href="/manifest.webmanifest" />
        <meta charset="utf-8" />
        <title>
            {% if flashes|length %}{% for level, flash in flashes %}
                {{ flash }} -
            {% endfor %}{% endif %}{{ entry.title }}{% block title %}

            {% endblock title %}| {{ siteName }}
        </title>
        <meta name="referrer" content="origin-when-cross-origin" />

        {{ craft.vite.script('/resources/js/app.js', false) }}
    </head>
    <body class="light-mode">
        <a
            href="#main"
            class="absolute left-0 m-3 -translate-y-16 bg-slate-50 p-3 transition focus:translate-y-0"
        >
            Skip to main content
        </a>

        {% include '_partials/header' %}

        {% if flashes|length %}
            <div class="bg-red-600 text-center text-slate-50">
                {% for level, flash in flashes %}
                    <p class="{{ level }} text-md container mx-auto p-2">
                        {{ flash }}
                    </p>
                {% endfor %}
            </div>
        {% endif %}

        <main class="page {{ entry.slug }}" id="main" tabindex="-1">
            {% block content %}

            {% endblock content %}
        </main>

        {% include '_partials/footer' %}
    </body>
</html>
